{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<!doctype html>
<html>
    <head>

        <link rel="stylesheet" href={{ root }}bootstrap/css/bootstrap.min.css rel="stylesheet" media="screen" />
        <link rel="stylesheet" href={{ root }}bootstrap/css/bootstrap.css rel="stylesheet" media="screen" />
        <link rel="stylesheet" href={{ root }}bootstrap/css/bootstrap-responsive.css>
        <link rel="stylesheet" href={{ root }}css/style.css>
    </head>
    <body>
        {# ... #}
        <div class="container">
            <form action="{{ path('login_check') }}" method="post" class="form-signin">
                <h2 class="form-signin-heading">Login</h2>

                <input type="text" id="username" class="input-block-level" name="_username" value="{{ last_username }}" />
                <input type="password" id="password" class="input-block-level" name="_password" />

                <button type="submit" class="btn btn-large btn-primary">login</button>
            </form>
        </div> 
    </body>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src={{ root }}bootstrap/js/bootstrap.min.js></script>
</html>